<a href="https://colab.research.google.com/github/v-coder4u/Book/blob/master/basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a = 'Vaibhav Varshney'

In [3]:
a

'Vaibhav Varshney'

In [5]:
name = input("Please Enter your name: ")
print('welcome' , name)
type(name)

Please Enter your name: Vaibhav
welcome Vaibhav

str

In [6]:
a = True
b = 'True'
print(type(a))
print(type(b))

<class 'bool'>
<class 'str'>

In [9]:
accuracy = 99.9
print(accuracy)
print(type(accuracy))
accuracyInt = int(accuracy)
print(accuracyInt)
print(type(accuracyInt))

99.9
<class 'float'>
99
<class 'int'>

In [10]:
strNum = "2.0"
print(strNum)
num = int(float(strNum))
print(num)
print(type(num))

2.0
2
<class 'int'>

In [13]:
str = "Vaibhav Varshney"
str[2]
# can we assign different char
str[1] = "a"  # string object are immutable

TypeError: 'str' object does not support item assignment

In [16]:
str1 = 'hello'
# change it to yellow by hook or by crook
str1 = 'yello'
print(str1)

yello

In [22]:
a = 10
b = 2
print(a + b)
print(a - b)
print(a / b)
print(a * b)
print(a // b) #floor division
print(a % b)
print(a ** b)

12
8
5.0
20
5
0
100

In [25]:
#BODMAS
print((4 * 5) - 9 + 6 / 7)
print(20 - 9 + 6 / 7)
print(20 - 9 + 0.8)
print(11 + 0.8)

11.857142857142858
11.857142857142858
11.8
11.8

In [27]:
a = 10
b = 12

print(sum_function(a, b))

def sum_function(a, b):
  c = a + b
  return c

22

LIST

In [30]:
custInfo = ["Vaibhav Varshney", 28, "Anoopshahr", 34.8]
print(custInfo)
print(type(custInfo))
print(len(custInfo))

custInfo2 = ("Vaibhav Varshney", 28, "Anoopshahr", 34.8)
print(custInfo2)
print(type(custInfo2))

['Vaibhav Varshney', 28, 'Anoopshahr', 34.8]
<class 'list'>
4
('Vaibhav Varshney', 28, 'Anoopshahr', 34.8)
<class 'tuple'>

In [39]:
#Nested list
list1 = ["Delhi" , ["ashoknagar", "pitampura"], 10]
print(list1)
print(len(list1))
print(list1[1])
print(list1[1][1])
print(list1[-2][-2]) # it will start with 1 not 0, it is called slicing

['Delhi', ['ashoknagar', 'pitampura'], 10]
3
['ashoknagar', 'pitampura']
pitampura
ashoknagar

In [2]:
#list concate
list1 = [1,2,3,4]
list2 = [5,6,7,8]
newlist = list1 + list2
print(newlist)
print(newlist + [9,10])

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# Membership in list

list3 = [1,2,3,4]
print(1 in list3)
print(5 in list3)

True
False

In [4]:
# Membership in tuple

list3 = (1,2,3,4)
print(1 in list3)
print(5 in list3)

True
False

In [8]:
#Mutability
list1 = ["Math", "Physics", "Chemistry", "Biology"]
print(list1[3])
print(list1[-1])
list1[3] = "Computer science"
print(list1)

Biology
Biology
['Math', 'Physics', 'Chemistry', 'Computer science']

In [13]:
#extend() --> it extend the list
list1 = [1,2,3,4]
list1.extend([5,6])
print(list1)

#append() --> it will append at the last or nested list
list2= [5,6,7,8]
list2.append([9,10])
print("after append size is: ", len(list2))

print(list2)

[1, 2, 3, 4, 5, 6]
after append size is:  5
[5, 6, 7, 8, [9, 10]]

In [14]:
#del
list1 = [1,2,3,4]
del list1[2]
list1

[1, 2, 4]

In [16]:
#pop --> by default last but we can delete the object based on index
list1 = [11,22,33,44]
list1.pop(2)
list1

[11, 22, 44]

In [17]:
#remove a certain value from a list
list1 = [11,22,44,55]
list1.remove(44)
list1

[11, 22, 55]

In [21]:
#sorting
A = [43,5,6,3,6,8,8,9,4]
A.sort()
A

#reverse sort
B = [43,5,6,3,6,8,8,9,4]
B.sort(reverse = True)
B

[43, 9, 8, 8, 6, 6, 5, 4, 3]

In [26]:
#sort vs sorted
A = ["Orange", "Mango", "Apple"]
B = A.sort() #return void
print(A)
print(B)


C = ["Orange", "Mango", "Apple"]
D = sorted(C)
print(C)
print(D)

['Apple', 'Mango', 'Orange']
None
['Orange', 'Mango', 'Apple']
['Apple', 'Mango', 'Orange']

In [28]:
#shallow copy
A = ["Orange", "Mango", "Apple"]
B = A
print(A)
print(B)
A.pop()
print(A)
print(B)

['Orange', 'Mango', 'Apple']
['Orange', 'Mango', 'Apple']
['Orange', 'Mango']
['Orange', 'Mango']

In [30]:
A = ["Orange", "Mango", "Apple"]
B = A[0:3]
print(A)
print(B)

A.pop()

print(A)
print(B)

['Orange', 'Mango', 'Apple']
['Orange', 'Mango', 'Apple']
['Orange', 'Mango']
['Orange', 'Mango', 'Apple']

In [31]:
#Split string

str = "Vaibhav_Varshney_1997"
list1 = str.split("_")
print(list1)

['Vaibhav', 'Varshney', '1997']

Tuples

In [33]:
t = ("hello", 5, 10.5)
print(type(t))

<class 'tuple'>

In [38]:
#nested tuple
t = ("hello", 5, 10.5, [1,2,3,4,5])
print(len(t))
var = t[3]
print(type(var))
print(t[3][4])

4
<class 'list'>
5

In [41]:
# various ways to define a tuple

t1 = 1,2,3,4,5
print(t1)
print(type(t1))

t2 = 2.3, #single value tuple
print(type(t2))

t3 = (1)
print(type(t3))

(1, 2, 3, 4, 5)
<class 'tuple'>
<class 'tuple'>
<class 'int'>

In [44]:
#indexing in tuple
t = ("Anoopshar", 10, "Vaibhav", 100)
print(len(t))
print(t[2:])
print(t[1:3])

4
('Vaibhav', 100)
(10, 'Vaibhav')

In [45]:
#String indexing
str = "Vaibhav Varshney"
print(str[6:])

v Varshney

In [46]:
#Slinging last 2 elements
t = ("Anoopshar", 10, "Vaibhav", 100)
print(t[-2:])

('Vaibhav', 100)

In [49]:
#concatenation tuple
t1 = ("welcome", "to", 'the', 'class')
t2 = ('vaibhav', 'varshney')
t3 = t1 + t2
t4 = t2 + t1
print(t3)
print(t4)

('welcome', 'to', 'the', 'class', 'vaibhav', 'varshney')
('vaibhav', 'varshney', 'welcome', 'to', 'the', 'class')

In [54]:
# min max sum
l1 = [2,4,5,6,7,2]
print(sum(l1))
print(min(l1))
print(max(l1))
t1 = (2,4,5,6,7,2)
print(sum(t1))

26
2
7
26

In [55]:
t1 = (2,5,6,7,'vaibhav')
print(sum(t1)) #error

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [56]:
#immutablitiy of tuple
t1 = ("Math", "Physics", "Chemistry", "Biology")
t1[2] = 'vaibhav varshney'

TypeError: 'tuple' object does not support item assignment

In [61]:
#sort a tuple
t = ("Vaibhav" ,"Varshney", "Anoopshahr", "zzzz")
sortedTuple = sorted(t)
print(sortedTuple)
print(type(sortedTuple))
t2 = tuple(sortedTuple) #typecasting
print(type(t2))

['Anoopshahr', 'Vaibhav', 'Varshney', 'zzzz']
<class 'list'>
<class 'tuple'>

In [62]:
#output
t = (1,2,4,3)
print(t[4])

IndexError: tuple index out of range

Sets:
-- no duplicate values
-- use in to check value is present or not
--define in {}

In [64]:
list1  = [3,2,1,3,2,1,4,6,7,5,5,4,3,2,4,6,7,9]
set1 = set(list1)
print(type(set1))
print(set1)

<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 9}

In [ ]:
()